.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

h1 {
  display: block;
}

.galleryList {
  width: 85%;
  margin: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  column-gap: 10px;
  row-gap: 30px;
}

.galleryItem {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  padding: 10px;

  height: 220px;
  margin: auto;
}

.imageCropper {
  width: 200px;
  height: 150px;
  overflow: hidden;
}

.catContent {
  display: block; 
  width: 200px;
}

.galleryItem:nth-child(7n - 6) { 
  /*for child no. 1, 8, 16 */
  background-color: rgb(177, 59, 59);
}
.galleryItem:nth-child(7n - 5) {
  /*for child no. 2, 9, 16 */
  background-color: rgb(216, 133, 56);
}
.galleryItem:nth-child(7n - 4) {
  background-color: rgb(255, 227, 104);
}
.galleryItem:nth-child(7n - 3) {
  background-color: rgb(98, 182, 126);
}
.galleryItem:nth-child(7n - 2) {
  background-color: rgb(60, 183, 192);
}
.galleryItem:nth-child(7n - 1) {
  background-color: rgb(90, 96, 148);
}
.galleryItem:nth-child(7n) {
  background-color: rgb(148, 84, 143);
}


